
.searchBar {
    .type {
        button {
            padding: 16px 36px;
            border: 1px solid #999;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;

            //tricks to make active buttons
            &.active {
              background-color: black;
              color: white; 
            }

            
        }
    }
}