@import "../../responsive.scss";

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        transition: all 0.4s ease;

        @include sm { // hide line of links in small to r=be transit to burger
            display: none;
        }

        &:hover {
            scale: 1.05;
        }
    }

    .left {
        //logo + nav pages
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo {
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            .logo-icon-company { //img
                width: 28px;
                height: 28px;
            }

            .logo-text-company-name { //span
                @include md { // remove for mid name of company
                    display: none;  
                }

                @include sm { // remove for mid name of company
                    display: initial;  
                }
            }
        }
    }
    .right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px;
            margin: 20px;
        }

        .register {
            background-color: #f3b052;
        }


        .menuIcon { //burger icon for small windows
            display: none;
            z-index: 999;

            img { // menuIcon>img
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include sm { // remove for mid name of company
                display: initial;  
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%; // haf of the screen to use when is shown
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            &.active{//on click show the black menu
                right: 0;
            }

            @include sm {
                a {
                    display: initial;
                }
            }
        }
    }
}
